.home-slider {
    display: block;
    height: calc(100vh);
    padding-top: 85px;
    vertical-align: top;
}
@media (min-width: 992px)
.home-slide-1 {
    padding-left: 0;
}
.home-slide-1 {
    padding-left: 15%;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.home-slider {
    display: block;
    height: calc(100vh);
    padding-top: 85px;
    vertical-align: top;
}
@media (min-width: 992px)
.home-slide-1 {
    padding-left: 0;
}
.home-slide-1 {
    padding-left: 15%;
}
.elementor *, .elementor *:before, .elementor *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body * {
    border-color: #ddd;
}
a, body, div, footer, form, h1, h2, h3, h4, header, i, iframe, img, li, nav, p, section, span, ul {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    margin: 0;
    padding: 0;
}
body * {
    border-color: #ddd;
}
body, div, span, iframe, h1, h2, h3, h4, h6, p, a, img, i, ul, li, form, figure, footer, header, nav, section {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: 0 0;
    margin: 0;
    padding: 0;
}
* {
    outline: 0!important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
* {
    outline: none !important;
}
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
.elementor-slides .swiper-slide-inner .elementor-slide-description {
    font-size: 17px;
    line-height: 1.4;
}
.elementor-slides .swiper-slide-inner .elementor-slide-description {
    font-size: 17px;
    line-height: 1.4;
}
.elementor-23832 .elementor-element.elementor-element-dc7ba95 .elementor-repeater-item-b4a7100 .swiper-slide-inner {
    align-items: center;
    text-align: left;
}
.elementor-23832 .elementor-element.elementor-element-dc7ba95 .elementor-repeater-item-b4a7100 .swiper-slide-inner {
    align-items: center;
    text-align: left;
}
.elementor-23832 .elementor-element.elementor-element-dc7ba95 .swiper-slide-inner {
    text-align: center;
}
.elementor-23832 .elementor-element.elementor-element-dc7ba95 .swiper-slide-inner {
    text-align: center;
}
.elementor-slides .swiper-slide-inner, .elementor-slides .swiper-slide-inner:hover {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor-slides .swiper-slide-inner, .elementor-slides .swiper-slide-inner:hover {
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
.elementor {
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
}
.elementor-kit-14350 {
    --e-global-color-primary: #6ec1e4;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
.elementor-kit-14350 {
    --e-global-color-primary: #6ec1e4;
    --e-global-color-secondary: #54595f;
    --e-global-color-text: #7a7a7a;
    --e-global-color-accent: #61ce70;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
}
body {
    background-color: #fff!important;
    margin: 0!important;
    font-family: 'Proxima Nova Rg'!important;
}
body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    color: #666;
}
body {
    font-size: 16px;
}
body {
    line-height: 1.7;
    font-family: Arial,Helvetica,sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
body {
    background-color: #fff !important;
    margin: 0 !important;
    font-family: 'Proxima Nova Rg' !important;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}
body {
    color: #666;
}
body {
    font-size: 16px;
}
body {
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor *, .elementor *:before, .elementor *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.elementor *, .elementor *:before, .elementor *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: border-bo
